# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
.env
db.sqlite3
/backend/staticfiles/
/backend/media/

# Node
node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Env
.env.local
.env.production

# Logs
*.log
start*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/